@font-face {
  font-family: "Imitate";
  src: url("GenZenGothicKaiC.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: #111;
  color: #fff;
  width: max-content;
  padding: 2px 6px;
}

*:not(.no-imitate) {
  font-family: "Imitate", sans-serif !important;
  font-weight: 400;
}

body {
  font-size: 15px;
}

a {
  color: #fff;
}

h1 {
  margin-bottom: 2px;
}

#song-title {
  font-size: 20px;
}

#reload,
.copy-btn {
  cursor: pointer;
}

#toast {
  background-color: #e6e6e6;
  position: fixed;
  width: 90%;
  border-radius: 7px;
  text-align: center;
  color: #000;
  padding: 4px 0;
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%);
}

#song-lyrics {
  margin: 2px 6px;
}

button {
  padding: 2px 6px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

#regist-song {
  width: 100%;
  font-size: 20px;
}

#reload {
  position: fixed;
  background-color: #333;
  top: 5px;
  right: 5px;
  padding: 4px;
  border-radius: 4px;
  opacity: 0.8;
  margin-top: 10px;
}

#reload > svg {
  float: left;
}

.unofficial {
  font-size: 12px;
  color: #f77;
  margin-left: 5px;
}
